*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
   
    background-image: url(IMG/img8.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.container{
    padding: 0px 7%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img2{

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 2px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    font-size: 20px;
    margin-top: 80px;
    margin-left: 20px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    

}
.header-text h1 span{
    color: red;
}
.azure{
    width: 300px;
    padding-left: 100px;
    padding-top: 30px;
}
#about{
    padding: 50px 0;
    color: #ababab;
    text-align: justify;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about1{
    flex-basis: 35%;
}
.about1 img{
    width: 100%;
    border-radius: 15px;
    
}
.about2{
    flex-basis: 60%;
}
.subt{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.tabtit{
    display: flex;
    margin: 20px 0 40px;
}
.tablink{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tablink::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}
.tablink.active::after{
    width: 50%;

}
.tabcont ul li{
    list-style: none;
    margin: 10px 0;
}
.tabcont ul li span{
    color: gold;
    font-size: 15px;
}
.tabcont ul li a {
    color: red;
}
.tabcont{
    display: none;
}
.tabcont.tab1{
    display: block;
}
#services{
    padding: 30px 0;
}
.servicelist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin-top: 50px;
    grid-gap: 40px;
}
.servicelist div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transition 0.5s;
}
.servicelist div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.servicelist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servicelist div a{
    text-decoration: none;
    color: gold;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.servicelist div:hover{
    background: red;
    transform: translateY(10px);
}
#portfolio{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin-top: 50px;
    grid-gap: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    align-content: center;

}
.work img{
    width: 86%;
    border-radius: 20px;
    display: block;
}
.layer{
    
    color: gold;
    text-align: center;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff0037);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height 1s;
}
.layer h3{
    padding-top: 50%;
    
}
.layer1 h3{
    padding-top: 58%;
    
}
.work1{
    border-radius: 20px;
    position: relative;
    overflow: hidden;

}
.work1 img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}
.layer1{
    color: gold;
    text-align: center;
    width: 86%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff0037);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: height 1s;
    
    
    
    
}
.para{
    padding: 50px 0;
    color:  #ffffff;
    text-align: center;
}
.para1{
    padding: 50px 0;
    color:  #fcfcfc;
    text-align: center;
}
.work1:hover img{
    transform: scale(1.1);
}
.work1:hover .layer{
    height: 100%;
}
/* .work:hover img{
    transform: scale(1.1);
} */
.work:hover .layer1{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ff0037;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background 1s;
}
.btn:hover{
    background:#ff0037;
}
.left{
    flex-basis: 35%;
}
.right{
    flex-basis: 60%;
}
.left p{
    margin-top: 30px;
}
.left p i{
    color: #ff0037;
    margin-right: 15px;
    font-size: 15px;
}
.socialicon {
    margin-top: 30px;
}
.socialicon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s;

}
.socialicon a:hover{
    color: #ff0037;
    transform: translateY(-5px);
}
.btn.btn2{
    display:inline-block ;
    background: #ff0037;
}
.right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: gold;
    font-weight: 300;
    margin-top: 20px;
    color: black;
}
.copyright i{
    color: red;
}
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(IMG/img1.png);
        background-attachment: fixed;
    }
    .header-text{
        margin-top: 20%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text img{
        margin: 20% -30%;
        padding-right: 20%;

    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(10, 10, 10);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}
nav ul li a:hover::after{
    width: 100%;

}
    nav ul{
        background: #ff0037;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subt{
        font-size: 40px;
    }
    .about1,.about2{
        flex-basis: 100%;
    }
    .about2 h1{
        text-align: center;
        padding-top: 30px;
    }
    .left,.right{
        flex-basis: 100%;
    }
    .work img{
        margin-left: 8%;
    }
    .layer1{
        margin-left: 8%;

    }
}
#msg{
    color: #61b752;
    margin-top: -30px;
    display: block;
}